/* About */
.details {
  display: flex;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
}

.det-text {
  color: var(--secondary-text-color);
  text-align: justify;
}

.det-img-cont {
  display: flex;
  justify-content: center;
}
.about-img {
  height: 23rem;
  max-width: 23rem;
}

.edu-col p {
  margin: 1.2rem 0;
}

.abt-btn-cont {
  display: flex;
  margin: 0;
    margin-bottom: 5rem;
  padding: 2rem 0;
  background-color: var(--foreground-color);
  justify-content: center;
}
.abt-btn {
  font-size: 1.2rem;
  padding: 1rem 2rem;
}