/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 999;
}

.nav-logo {
  color: var(--secondary-text-color);
  height: 2.5rem;
}

.navbar-nav li a{
  color: var(--secondary-text-color);
  margin: 0 1rem;
}
.navbar-nav li a:hover{
  color: rgb(105, 105, 105);
}
.navbar-nav li a:focus{
  color: rgb(105, 105, 105);
}

.disp-mode > i:hover {
  cursor: pointer;
}