/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #F6FF8D;
  padding-top: 83px;
  font-weight: 100;
  background-color: #222322;
}

/* Dark mode */
/* body {
  color: #4831d4;
  } */

Link,
a {
  text-decoration: none;
}

/* h1, h4 { */
  /* font-weight: 700; */
/* } */

hr {
  color: white;
}

.container-fluid {
  max-width: 1320px;
}

.header {
  color: white;
  margin: 5rem 0;
  font-weight: 100;
  text-align: center;
}

.btn {
  border-radius: 0;
}

.hide {
  display: none !important;
}