/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  padding-top: 70px;
}

.app {
  background-color: var(--background-color)
}
/* Dark mode */
/* body {
  color: #4831d4;
  } */

Link,
a {
  text-decoration: none;
}

/* h1, h4 { */
  /* font-weight: 700; */
/* } */

hr {
  color: white;
}

.container-fluid {
  max-width: 1320px;
}

.header {
  color: white;
  padding: 4rem 0;
  font-weight: 100;
  text-align: center;
}

.btn {
  width: 15rem;
  padding: 1rem;
  border-radius: 0;
  color: var(--button-text-color);
  border: 1px solid var(--button-border-color);
}
.btn:hover {
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-bg-color);
  border: 1px solid var(--button-hover-border-color);
}

.hide {
  display: none !important;
}

.project-detail-cont {
  padding-top: 1rem;
}