/* :root { */
/* font-family: 'Montserrat', sans-serif;; */
/* font-size: 1.25rem; */
/* font-synthesis: none; */
/* line-height: 1.5; */
/*  */
/* color-scheme: light dark; */
/*  */
/* text-rendering: optimizeLegibility; */
/* -webkit-font-smoothing: antialiased; */
/* -moz-osx-font-smoothing: grayscale; */
/*  */
/* --background-color: #222322; */
/* --foreground-color: #191a19; */
/* --primary-text-color: #F6FF8D; */
/* --secondary-text-color: #ffffff; */
/* --tertiary-text-color: #FFC007; */
/* --footer-text-color: #ffffff; */
/* --toggle-bg: #ffffff; */
/* --toggle-fg: #4831d4; */
/* } */
/*  */
/* [data-theme="light"] { */
/* --background-color: #ffffff; */
/* --foreground-color: #4831d4; */
/* --primary-text-color: #4831d4; */
/* --secondary-text-color: #ffffff; */
/* --tertiary-text-color: #CCF381; */
/* --footer-text-color: #ffffff; */
/* } */

/* 🌞 Light Theme */
:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-synthesis: none;
    line-height: 1.5;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background-color: #0f0f0f;
    --foreground-color: #1a1a1a;
    --primary-text-color: #ffffff;
    --secondary-text-color: #8f8f8f;
    --tertiary-text-color: #FFC108;
    --accent-color: #4dabf7;
    --link-color: #4dabf7;
    --nav-background: #1a1a1a;
    --card-background: #212121;
    --border-color: #2a2a2a;

    --button-text-color: #ffffff; 
    --button-hover-text-color: #000000;
    --button-bg-color: #0066ff;
    --button-hover-bg-color: #ffffff;
    --button-border-color: #ffffff;
    --button-hover-border-color: #ffffff;
}

/* 🌚 Dark Theme */
[data-theme='light'] {
    --background-color: #ffffff;
    --foreground-color: #d8d8d8;
    --primary-text-color: #1c1c1e;
    --secondary-text-color: #555555;
    --tertiary-text-color: #004bed; 
    --accent-color: #0066ff;
    --link-color: #0066ff;
    --nav-background: #ffffff;
    --card-background: #f0f0f0;
    --border-color: #e0e0e0;

    --button-text-color: #000000;
    --button-hover-text-color: #ffffff;
    --button-bg-color: #565656;
    --button-hover-bg-color: #000000;
    --button-border-color: #000000;
    --button-hover-border-color: #000000;
}